services:
  - type: web
    name: acadtrack-api
    runtime: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_CODE
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /
    maxInstances: 1
    minInstances: 0
    numInstances: 1
    previewsEnabled: false
